REDIS_HOST=redis
REDIS_PORT=6379
JOB_QUEUE_HIGH_NAME=jobs_high
JOB_QUEUE_NORMAL_NAME=jobs_normal
JOB_QUEUE_LOW_NAME=jobs_low
JOB_PRIORITY_HIGH_MAX=3
JOB_PRIORITY_NORMAL_MAX=7
WORKER_QUEUES=jobs_high,jobs_normal,jobs_low
COORDINATOR_DB_PATH=results/coordinator.db
